/* Estilos generales */
/* Fondo con imagen y degradado */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/fondo.jpg') no-repeat center center/cover;
    margin: 0;
}

/* Contenedor del formulario */
.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

/* Imagen del logo */
.logo {
    width: 100px; /* Ajusta el tamaño según necesites */
    display: block;
    margin: 0 auto 5px;
}

/* Estilos del formulario */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 12px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9F2241;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
}

button:hover {
    background-color: #bc955b;
}

/* Mensaje de error */
.error {
    color: red;
    font-size: 15px;
    margin-top: 1px;
}

/* Estilos para la ventana flotante "Cargando..." */
#loadingModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Asegurarse de que el modal esté sobre todo */
}

/* Animación para que el modal desaparezca después de 3 segundos */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

#loadingModal {
    animation: fadeOut 5s forwards;
}
