body {
    font-family: Arial, sans-serif;
    background: url('../img/fondo.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor del formulario */
form {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo translúcido */
    padding: 30px;
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra más suave */
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo del título */
h1 {
    text-align: center;
    color: #900C3F;  /* Rojo similar al estilo previo */
    margin-bottom: 20px;
    font-size: 1.8em; /* Ajuste del tamaño */
}

/* Sección de campos de formulario */
.form-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px; /* Espacio entre las secciones */
}

/* Sección individual */
.section {
    width: 48%;
    display: flex;
    flex-direction: column;
}

/* Estilo de las etiquetas */
label {
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    font-size: 14px;
}

/* Estilo común para todos los inputs y select */
input, select {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffffcc; /* Fondo ligeramente transparente */
    margin-top: 5px;
}

/* Estilo cuando los campos tienen errores */
input.error, select.error {
    border-color: red;
}

/* Contenedor para los botones */
.button-container {
    display: flex;
    justify-content: space-between; /* Distribuye los botones a los lados */
    width: 100%; /* Toma todo el ancho disponible */
    margin-top: 20px;
    flex-direction: row-reverse; /* Invertir el orden de los botones */
}

/* Estilo del botón */
button {
    width: 48%; /* Ocupa un 48% del ancho para que quepan en la misma línea */
    background-color: #900C3F;  /* Rojo similar al estilo anterior */
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Efecto suave */
}

/* Efecto hover en el botón */
button:hover {
    background-color: #965f36;  /* Color similar al de hover del estilo anterior */
}
