/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: url('../img/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {

    background: #ffffffe6;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px #00000033;
    width: 50%;
    max-width: 600px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #721c24;
}


#registroForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}


#registroForm .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}


input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.button-container {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.button-container input,
.button-container button {
    background-color: #900C3F; 
    color: #ffffff;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 45%;
}

.button-container button:hover,
.button-container input:hover {
    background-color: #965f36; 
}



#errorMessages {
    background-color: #f8d7dae6;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 15px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 16px;
    display: none; 
    z-index: 1000;
    max-width: 90%;
    text-align: center;
    box-shadow: 0px 4px 8px #0000004d;
}


#errorMessages.show {
    display: block;
    animation: fadeOut 3s forwards;
}



@keyframes fadeOut {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; display: none; }
}


#cancelarButton {
    background-color: #900C3F; 
    color: #ffffff;
    font-size: 16px;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 45%;
    transition: background-color 0.3s ease;
}

#cancelarButton:hover {
    background-color: #965f36; 
}
